<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="rockola_project">
    <head>        
        <title>Rockola</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/admView.css">
    </head>
    <body class="bg-light">
        <header>
            <center>
            <h1 class="bd-title">Rockola</h1>
            <h1 class="bd-title">Vista de administrador</h1>
            </center>               
        </header>
        <main class="row m-3" ng-controller="filasCanciones">
            <div class="card-body d-flex justify-content-between align-items-right" style="width:100%; height:100%">    
                <form method="get" action="http://localhost:8080/"/>
                    <button type="submit" class="btn btn-dark">Vista de usuario</button>
                <form/>
            </div> 
            <article class="col-sm"> <!--Angularjs-->
                <section class="m-2 p-3 mx-auto container-md border bg-white" >
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Editar canción</label>
                        <input placeholder = "Ingrese el ID de la canción a editar o eliminar "type="text" class="form-control" id="id"  value="{{id_cancion}}" ng-model="id"/>
                                <td>
                                    <button type="button" class="btn btn-success" ng-click = "prepararActualizacion()" value = "{{fila.id_cancion}}" ng-model = "id">Editar canción</button>
                                    <button type="button" class="btn btn-danger" ng-click = "borrar()">Eliminar cancion</button>
                                </td>
                    <div/>
                <section/>
                <section>
                    <div class="mb-3" >
                        <br/>
                        <label for="edad" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre_cancion}}" ng-model="nombre"/>
                        <label for="correo" class="form-label">Año</label>
                        <input type="text"  class="form-control" id="anio"  value="{{anio}}" ng-model="anio"/>
                        <label for="nombre" class="form-label">Ruta</label>
                        <input type="text" class="form-control" id="ruta"  value="{{ruta}}" ng-model="ruta"/>
                        <label for="edad" class="form-label">Formato</label>
                        <input type="text" class="form-control" id="formato"  value="{{formato}}" ng-model="formato"/>
                        <label for="correo" class="form-label">Autor</label>
                        <input type="text"  class="form-control" id="autor"  value="{{autor}}" ng-model="autor"/>
                        <label for="correo" class="form-label">Género</label>
                        <input type="text"  class="form-control" id="genero"  value="{{genero}}" ng-model="genero"/>
                        <br/>
                        <button type="button" class="btn btn-success" ng-click="actualizar()">Guardar cambios</button>
                    </div>
                </section>
            </article>
            <article class="col-sm">
                <section style="border: 0px solid #282929">
                        <td>
                            <a class="btn btn-success" href="http://localhost:8080/nuevaCancion" role="button">Agregar nueva Canción</a>
                            <button type="button" class="btn btn-primary" ng-click="consultarTodo()">Ver todas las canciónes</button>                                                      
                        </td>
                </section><br/>
                <table class="table" style="border: 0px solid #282929;" border="0" align="left">
                    <thead>
                        <tr style="background-color: #245269;color:whitesmoke">
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Año</th>
                            <th scope="col">Formato</th>                                
                            <th scope="col">Autor</th>
                            <th scope="col">Género</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="color:whitesmoke"ng-repeat="fila in filas" >
                                <td>{{fila.id_cancion}}</td>
                                <td>{{fila.nombre_cancion}}</td>
                                <td>{{fila.anio}}</td>
                                <td>{{fila.formato}}</td>                                
                                <td>{{fila.autor}}</td>
                                <td>{{fila.genero}}</td>                                
                            </tr>
                        </tbody>
                    </table>
            </article>
        </main>
        <footer>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/id_cancion.js"></script>        
    </body>
</html>