<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="rockola_project">
    <head>        
        <title>Rockola</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/admView.css">
    </head>
    <body class="bg-light">
        <header>
            <center>
            <h1 class="bd-title">Rockola</h1>
            <h1 class="bd-title">Agregar Canción</h1>
            </center>
            <div class=container px-4" style="width:100%; height:100%">    
                <form method="get" action="http://localhost:8080/admView"/>
                    <button type="submit" class="btn btn-dark">Volver</button>
                 <form/>
            </div><br/>
        </header>
        <main class="row m-3" ng-controller="filasCanciones">
            <article class="col-sm"> <!--Angularjs-->
                <section>
                    <div style="color:whitesmoke" class="container px-4">
                        <div class="row gx-5">
                        <br/>
                        <label for="edad" class="form-label">Nombre de la canción</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre_cancion}}" ng-model="nombre"/>
                        <label for="correo" class="form-label">Año</label>
                        <input type="text"  class="form-control" id="anio"  value="{{anio}}" ng-model="anio"/>
                        <label for="nombre" class="form-label">Ruta</label>
                        <input type="text" class="form-control" id="ruta"  value="{{ruta}}" ng-model="ruta"/>
                        <label for="edad" class="form-label">Formato</label>
                        <input type="text" class="form-control" id="formato"  value="{{formato}}" ng-model="formato"/>
                        <label for="correo" class="form-label">Autor</label>
                        <input type="text"  class="form-control" id="autor"  value="{{autor}}" ng-model="autor"/>
                        <label for="correo" class="form-label">Género</label>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="Lista de generos" value="{{genero}}" ng-model="genero">
                            <option value="Rock">Rock</option>
                            <option value="Pop">Pop</option>
                            <option value="Ranchera">Ranchera</option>
                        </select>
                        </div>
                        <center>
                            <br/>
                        <button type="button" class="btn btn-success" ng-click="agregarCancion()">Guardar nueva canción</button>
                        </center>
                    </div>
                </section>
            </article>
        </main>
        <footer>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/id_cancion.js"></script>        
    </body>
</html>