<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="rockola_project">
    <head>        
        <title>Rockola</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/admView.css" th:href="@{/css/admView.css}">
    </head>
    <body class="bg-light">
        <header>
            <center>
            <h1 class="bd-title">Rockola</h1>
            <h1 class="bd-title">Vista de usuario</h1>
            </center>
            </nav>  
            <div class="card-body d-flex justify-content-between align-items-right">
                <form method="get" action="http://localhost:8080/admView"/>
                    <button type="submit" class="btn btn-dark"> Vista de administrador</button>
                <form/>
            </div>
        </header>
        <main class="row m-3" ng-controller="filasCanciones">
            <article class="col-sm"> <!--Angularjs-->
                <section class="m-2 p-3 mx-auto container-md border bg-white">                    
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Consultar por género</label>
                        <br/>                        
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example" name="Lista de generos" ng-model = "gender" placeholder="Ingrese el género a consultar">
                            <option value="rock">Rock</option>
                            <option value="pop">Pop</option>
                            <option value="ranchera">Ranchera</option>
                        </select>
                        <button type="button" class="btn btn-success" ng-click = "consultare()">Consultar</button>
                    </div>
                </section>
            </article>
            <article class="col-sm">
                <section style="border: 0px solid #282929;color:whitesmoke">
                    <button type="button" class="btn btn-primary" ng-click="consultarTodo()">Ver todas las canciónes</button>
                        <br/><br/> 
                    <table class="table" style="color:whitesmoke">
                        <thead>
                            <tr style="background-color: #245269">
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Año</th>
                                <th scope="col">Formato</th>                                
                                <th scope="col">Autor</th>
                                <th scope="col">Género</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td>{{fila.id_cancion}}</td>
                                <td>{{fila.nombre_cancion}}</td>
                                <td>{{fila.anio}}</td>
                                <td>{{fila.formato}}</td>                                
                                <td>{{fila.autor}}</td>
                                <td>{{fila.genero}}</td>                                
                            </tr>
                        </tbody>
                    </table>
                </section>
            </article>
        </main>
        <footer>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/id_cancion.js"></script>        
    </body>
</html>
