
body{
    margin: 0;
    font-family: sans-serif;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3{
    color: #55a290;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.buscar{
    background: white;
    padding: 20px;
    width: 100%;
}
.subir{
    background: white;
    padding: 20px;
    width: 100%;
}

.titulo{
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    color: #0d1934;
}

.tabla_buscar{
    background-color: #cccccc;
    text-align: center;
    width: 75%;
    margin: auto;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
} 
.tabla_buscar td{
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    background-color: #303564;
}
.tabla_subir{
    background-color: #cccccc;
    text-align: center;
    width: 95%;
    margin: auto;
    border-radius: 20px;
    padding: 5px;

}
.tabla_subida td{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabla_subida input{
    font-size: 1.2 em;
    padding: 3px;
}

.boton_envio{
    text-align: right;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    padding: 10px;
    background-color: #303564;
    color: white;
    border: none;
}

.subir input{
    display: block;
    width: 70%;
    padding: 10px;
    font-size: 1em;
}
.buscar input{
    width: 20%;
    padding: 10px;
    margin: 0 0 2% 2%;
}
p{
    margin:2%;
    font-size: 1.5em;
}
nav a{
    color: #ffb0ff;
    text-decoration: none;
    font-size: 1.3em;
}